{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="post" action="">
        {{ form.hidden_tag()}}
        <legend> {{ legend }}</legend>
        <div class="mb-3" >
            {{ form.title.label(class="form-control-label")}}
            {% if form.title.errors %}
                {{ form.title(class="form-control form-control-lg is-invalid") }}
                {% for error in form.title.errors %}
                    <span> {{ error }}</span>
                {% endfor %}
            {% else %}
                {{ form.title(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="mb-3" >
            {{ form.content.label(class="form-control-label")}}
            {% if form.content.errors %}
                {{ form.content(class="form-control form-control-lg is-invalid") }}
                {% for error in form.content.errors %}
                    <span> {{ error }}</span>
                {% endfor %}
            {% else %}
                {{ form.content(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        <div class="mb-3" >
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %} 